.toggleBtn {
    background: transparent;
    border: 1px solid var(--border-color);
    color: var(--gold);
    cursor: pointer;
    padding: 8px;
    border-radius: 50%; /* Bouton rond */
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

.toggleBtn:hover {
    background-color: var(--gold);
    color: var(--bg-main); /* La couleur du fond actuel */
    transform: rotate(15deg);
}
